<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.jonasrottmann.realmbrowser"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true">
        <activity
            android:name=".RealmFilesActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".RealmModelsActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".RealmBrowserActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/Theme.AppCompat.Light"/>

    </application>

</manifest>