<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jonasrottmann.realmbrowser">

    <application>
        <activity
            android:name=".models.view.ModelsActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/realm_browser_BaseTheme.Theme" />
        <activity
            android:name=".object.view.RealmObjectActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/realm_browser_BaseTheme.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".browser.view.RealmBrowserActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/realm_browser_BaseTheme.DrawerTheme" />

        <activity
            android:name=".files.view.FilesActivity"
            android:label="@string/realm_browser_title"
            android:theme="@style/realm_browser_BaseTheme.Theme" />

    </application>

</manifest>